{% extends 'SocalApp/base.html' %}
{% load static from staticfiles %}
{% block linkscript%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/mine.css' %}" />
    <!--<script type="text/javascript" charset="utf-8" src="{% static 'js/mine.js' %}" ></script>-->
{% endblock linkscript%}
{% block base %}
<div id="mine">
   <div id="backwall">
       <img id="userimg" src="{%url 'photo' user.userImg %}"/>
       <div id="username">{{user.userName}}</div>
       <div id="usercontent">{{user.userContent}}</div>
   </div>
   <div id="moment">
   </div>
</div>
{% endblock base %}